<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登録</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/todo.css}">
</head>
<body>
    <header class="header fixed">
        <form method="post" th:action="@{/logout}" name="logout">
            <a href="javascript:logout.submit()" class="text">ログアウト</a>
        </form>
        <div class="border"></div>
        <a th:href="@{/main}" class="text">カレンダー</a>
    </header>
    <div class="form_back sd">
        <div class="form sd">
            <!-- 共通部品として登録に変更 -->
            <div class="title sd">登録</div>
            <form method="post" th:action="@{/main/create}">
                <div class="form_row sd">
                    <p class="form_text sd">タイトル：</p>
                    <div class="form_item">
                        <input type="text" name="title" class="item">
                    </div>
                </div>
                <div class="form_row sd">
                    <p class="form_text sd">日付：</p>
                    <div class="form_item">
                        <input type="date" name="date" th:value="${date}" class="item">
                    </div>
                </div>
                <div class="form_row sd">
                    <p class="form_text sd">内容：</p>
                    <div class="form_item">
                        <textarea name="text" cols="80" rows="10" class="item"></textarea>
                    </div>
                </div>
                <button class="form_button sd">
                    <p class="form_button_text sd">投稿</p>
                </button>
            </form>
        </div>
    </div>
</body>
</html>
