<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク編集</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/todo.css}">
</head>
<body>
    <header class="header fixed">
        <form method="post" th:action="@{/logout}" name="logout">
            <a href="javascript:logout.submit()" class="text">ログアウト</a>
        </form>
        <div class="border"></div>
        <a th:href="@{/main}" class="text">カレンダー</a>
    </header>
    <div class="form_back sd">
        <div class="form sd">
            <div class="title sd">タスク編集</div>
            <form method="post" th:action="@{/main/edit/{id}(id=${task.id})}">
                <div class="form_row sd">
                    <p class="form_text sd">タイトル：</p>
                    <div class="form_item">
                        <input type="text" name="title" th:value="${task.title}" class="item">
                    </div>
                </div>
                <div class="form_row sd">
                    <p class="form_text sd">日付：</p>
                    <div class="form_item">
                        <input type="date" name="date" th:value="${task.date}" class="item">
                    </div>
                </div>
                <div class="form_row sd">
                    <p class="form_text sd">内容：</p>
                    <div class="form_item">
                        <textarea name="text" cols="80" rows="10" class="item" th:text="${task.text}"></textarea>
                    </div>
                </div>
                <div class="form_row sd">
                    <p class="form_text sd">完了：</p>
                    <div class="form_item">
                        <input type="checkbox" name="done" th:checked="${task.done}" class="checkbox">
                    </div>
                </div>
                <button class="form_button sd">
                    <p class="form_button_text sd">更新</p>
                </button>
            </form>
            <form method="post" th:action="@{/main/delete/{id}(id=${task.id})}" class="form_box sd">
                <button class="form_button delete sd">
                    <p class="form_button_text sd">削除</p>
                </button>
            </form>
        </div>
    </div>
</body>
</html>
